In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
ncp_df = pd.read_excel('../data/Historic_Nashville_City_Cemetery_Interments__1846-1979.xlsx')

In [29]:
ncp_df.head()

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Cause of Death/Burial,Ave,Section/Lot,Remarks
0,6B,"Bell, Nancy Ann",Aug,8.0,6.0,1979.0,F,W,10.0,NaN,NaN,Oak,"sec. 28 NW, lot 12",J. L. Hughes lot
1,6W,"Drake, Mary Edith Smith, Mrs.",May,5.0,19.0,1979.0,F,W,67.0,"Madison, Tenn",Cancer,"Locust, Boyd Lot",lot 10,"wife of Alex M. Drake, Madison Funeral Home Of..."
2,6D,"Davis, Bessie",Sep,9.0,19.0,1979.0,F,W,90.0,Nashville,Old Age,Poplar,"McAllister, E25, lot 8",daughter of Helen Davis
3,6C,"Creech, Emily Green",Aug,8.0,NaN,1978.0,F,W,91.0,Nashville,NaN,sect.ion 9,15.0,Magnolia
4,6W,"Creech, Emily Green",Aug,8.0,NaN,1978.0,F,W,91.0,"Nashville, Tennessee",NaN,NaN,NaN,Malgnolia

2. **Most Common Causes of Death.**  
   a. Find the 10 most common (known) recorded causes of death.  
   b. Clean up some of the misspellings. Use the [`replace` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html) to clean up some of the causes of death. For example, replace "Cholrea" with "Cholera" and "Still Born" with "Stillborn".   
   **Bonus (Save For Last):** One method of detecting and correcting misspellings is fuzzy matching using metrics like [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance). Check out [thefuzz](https://github.com/seatgeek/thefuzz) a library that implements fuzzy matching and apply it to detect and correct misspellings.  
   c. After correcting the spellings, find the 10 most common causes of death and create a bar chart to display your findings.

In [59]:
#a. Find the 10 most common (known) recorded causes of death.

ncp_df_vc = ncp_df['Cause of Death/Burial'].value_counts()
#above shows only top and bottom few, so doing .head
ncp_df_vc.head(10)

Consumption     1767
Unknown         1260
Cholera         1242
Still Born       841
Not Known        639
Old Age          604
Pneumonia        516
Flux             469
Complication     446
Cold             421
Name: Cause of Death/Burial, dtype: int64

In [52]:
ncp_df = ncp_df.replace('Cholrea', 'Cholera')
ncp_df = ncp_df.replace('Colera*', 'Cholera', regex=True)

In [39]:
ncp_df[ncp_df['Cause of Death/Burial'].astype('string').str.contains('Cholera')]

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Cause of Death/Burial,Ave,Section/Lot,Remarks
674,6N,Infant Son,Aug,8.0,2.0,1910.0,M,W,NaN,Country,Cholera Infantum,Old Yard,lot,child of W. G. Newell grave on Newell Lot
745,6Mc,Infant Daughter,Jul,7.0,16.0,1908.0,F,W,NaN,Country,Cholera infantum,Elm Ave,lot,"child of T. B. McCutchen, Shields Lot"
773,6P,Infant Son,Jul,7.0,24.0,1907.0,M,W,NaN,City,Cholera Infantum,Mulberry & City,lot,"child of H. F. Price, H. Carroll Lot"
1239,6A,Infant Daughter,Jul,7.0,27.0,1895.0,F,W,NaN,City,Cholera Infantum,Pine,lot,"child of Chas Allen, the Old Erb Lot"
1294,6H,Infant Daughter,Jul,7.0,21.0,1894.0,F,W,NaN,City,Cholera Inft.,Elm Ave,lot,"child of J.T. Sanders, Jas Haslam"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18496,4-1849,"Erskine, Thos. W.",May,5.0,29.0,1849.0,M,W,44.0,Country,Cholera,Sexton's fees paid,lot,"died in Memphis, A Hamilton, wishes to purchas..."
18500,4-1849,"Washington, Charlotte",May,5.0,30.0,1849.0,F,B,64.0,City,Cholera,Poplar,200.0,"free, Berry Fite paid 3.00"
18501,4-1849,Beverly,May,5.0,30.0,1849.0,M,B,27.0,City,Cholera,Poplar,200.0,slave of Wm. Stockell
18502,4-1849,"Reed, Rachel",May,5.0,30.0,1849.0,F,B,NaN,City,Cholera,Poplar,pauper,free
18503,4-1849,"Hicks, Charles",May,5.0,31.0,1849.0,M,W,28.0,City,Cholera,Mulbury,lot,fees to be paid by B. T. Hawkins

In [50]:
pd.options.display.max_rows = 1250
gdp_df.groupby('Cause of Death/Burial').nunique()

,Volume,Name,Burial Month,Month No.,Burial Day,Burial Year,Sex,Race,Age,Residence,Ave,Section/Lot,Remarks
Cause of Death/Burial,,,,,,,,,,,,,
A Rat Bite,1,1,1,1,1,1,1,1,1,1,1,0,0
A fall from Buggy,1,1,1,1,1,1,1,1,1,1,1,1,1
Aali Phthis,1,1,1,1,1,1,1,1,1,1,1,1,1
Abaledaris,1,1,1,1,1,1,1,1,0,1,1,1,1
Abcese of Liver,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
said to be cholrea,1,1,1,1,1,1,1,1,1,1,1,1,1
spasms,1,1,1,1,1,1,1,1,0,1,1,1,1
teething,1,1,1,1,1,1,1,1,0,1,1,1,1
urpherts,1,1,1,1,1,1,1,1,1,1,1,1,1
worms,1,1,1,1,1,1,1,1,0,1,1,1,1